:root {
  --code-run-button-content: "Run";
}

pre[class*="language-"]::after,
.HyperMD-codeblock-end::after {
  cursor: pointer;
  content: var(--code-run-button-content);

  background-color: transparent;
  box-shadow: none;
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  font-family: var(--font-interface);

  border-bottom-right-radius: 4px;
  display: none;
  padding: 6px 8px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

pre[class*="language-"]::after {
  padding: 3px 4px;
}

pre[class*="language-"]:hover::after,
.HyperMD-codeblock:hover ~ .HyperMD-codeblock-end::after,
.HyperMD-codeblock-end:hover::after {
  background-color: var(--background-secondary-alt);
  display: block;
}

.code-runner-console {
  white-space: pre-wrap;
  word-break: break-all;
  -webkit-user-select: text;
  user-select: text;
  border-radius: var(--radius-m);
  padding: var(--size-2-2);
  border: var(--modal-border-width) solid var(--modal-border-color);
  min-height: 60px;
  max-height: 80%;
  overflow-y: scroll;
  margin: 0;
}
.code-runner-console-btn {
  margin-right: var(--size-4-4);
}

.code-runner-title-status {
  font-size: var(--font-ui-smaller);
  color: var(--text-muted);
  margin-left: 1em;
}

.code-runner-container .view-content,
.code-runner-content {
  display: flex;
  flex-direction: column;
}

.code-runner-console-wrap {
  flex: 1;
  overflow: hidden;
  padding: 1em 0px;
}

// Only tab view
.code-runner-container .code-runner-console {
  height: 100%;
  max-height: unset;
}
.code-runner-content {
  flex: auto;
  height: calc(100% - 30px);
}
